{% extends 'master.html' %}
{% load static %}

{% block title %}
    <title>Books in Store</title>
{% endblock %}

{% block extra_css %}
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Books</h1>
                    <p class="mb-4">Available Books</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">You can issue books</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Tittle</th>
                                            <th>Author</th>
                                            <th>year</th>
                                            <th>Subject</th>
                                            <th>ISBN</th>
                                            <th>Issue</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Tittle</th>
                                            <th>Author</th>
                                            <th>year</th>
                                            <th>Subject</th>
                                            <th>ISBN</th>
                                            <th>Issue</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for book in books %}
                                            <tr>
                                                <td>{{ book.title }}</td>
                                                <td>{{ book.author }}</td>
                                                <td>{{ book.year }}</td>
                                                <td>{{ book.subject }}</td>
                                                <td>{{ book.isbn }}</td>
                                                <td>
                                                    <a href="{% url 'issue_book' book.id %}" class="btn btn-outline-dark btn-sm">issue</a>
                                                </td>
                                            </tr>
                                        	
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
{% endblock %}


{% block extra_js %}
	<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}
