{% extends 'master.html' %}

{% block title %}
    <title>Sacco Customers</title>
{% endblock %}




{% block content %}
    <div class="container">
        <h2>Sacco Customers</h2>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Joining Date</th>
            </tr>
            
            {% for Customer in Customers %}
                <tr>
                    <td>{{ Customer.id }}</td>
                    <td>{{ Customer.first_name }}</td>
                    <td>{{ Customer.last_name }}</td>
                    <td>{{ Customer.email }}</td>
                    <td>{{ Customer.created_at }}</td>
                </tr>
            	
            {% empty %}
            	<p>No Customers In The Sacco</p>
            {% endfor %}
            
        </table>
    </div>
{% endblock %}
