{% extends 'master.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
	<title>Add Customer</title>
{% endblock %}


{% block content %}
	<div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <form action="{% url 'add_customer' %}" method="post">
                    {{ form | crispy }}
                    <button class="btn btn-dark">Save Customer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}