{% extends 'master.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
	<title>Update Customer</title>
{% endblock %}


{% block content %}
	<div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4 border px-3 py-3 mt-3">
                <form action="{% url 'update_customer' customer_id %}" method="post" autocomplete="on" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-dark w-100">Save Customer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}