{% extends 'master.html' %}

{% block title %}
    <title>Sacco Customers</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Sacco Customers</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Joining Date</th>
                    <th>Delete</th>
                    <th>Details</th>
                    <th>Update</th>
                    <th>Deposit</th>
                </tr>
            </thead>
            <tbody>
                {% for Customer in data.object_list %}
                    <tr>
                        <td>{{ Customer.id }}</td>
                        <td>{{ Customer.first_name }}</td>
                        <td>{{ Customer.last_name }}</td>
                        <td>{{ Customer.email }}</td>
                        <td>{{ Customer.created_at }}</td>
                        <td>
                            <a class="btn btn-danger" href="{% url 'delete_customer' Customer.id %}">Delete</a>
                        </td>
                        <td>
                           <a class="btn btn-primary" href="{% url 'customer_detail' Customer.id %}">Details</a>
                        </td>
                        <td>
                           <a class="btn btn-success" href="{% url 'update_customer' Customer.id %}">Update</a>
                        </td>
                        <td>
                           <a class="btn btn-primary" href="{% url 'deposit' Customer.id %}">Deposit</a>
                        </td>
                        
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">No Customers In The Sacco</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="row justify-content-center">
            <div class="col-sm-2">
                <!-- Previous Page Link -->
                {% if data.has_previous %}
                    <a class="btn btn-outline-success btn-sm" href="?page={{ data.previous_page_number }}"> << </a>
                {% endif %}
                <span class="mx-3">{{ data.number }}</span>
                {% if data.has_next %}
                    <a class="btn btn-outline-success btn-sm" href="?page={{ data.next_page_number }}"> >> </a>
                {% endif %}
            </div>
        
        </div>
    </div>
{% endblock %}
