{% extends 'master.html' %}

{% block title %}
    <title>Sacco Customers</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h4>Sacco Customers</h4>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Joining Date</th>
                <th>Delete</th>
                <th>Details</th>
                <th>Deposit</th>
                <th>Update</th>
            </tr>
            {% for customer in data.object_list %}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.first_name }}</td>
                    <td>{{ customer.last_name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.created_at | date:"d-m-Y" }}</td>

                    {% if perms.sacco.delete_customer %}
                        <td>
                            <a class="btn btn-danger btn-sm" href="{% url 'delete_customer' customer.id %}">Remove</a>
                        </td>
                    {% else %}
                       <td>
                           <button class="btn btn-sm disabled">Action</button>
                       </td>
                    {% endif %}

                    {% if perms.sacco.view_customer %}
                        <td>
                            <a class="btn btn-info btn-sm" href="{% url 'customer_detail' customer.id %}">Details</a>
                        </td>
                    {% else %}
                       <td>
                           <button class="btn btn-sm disabled">Action</button>
                       </td>
                    {% endif %}

                    {% if perms.sacco.add_deposit %}
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'deposit' customer.id %}">Deposit</a>
                        </td>
                    {% else %}
                       <td>
                           <button class="btn btn-sm disabled">Action</button>
                       </td>
                    {% endif %}

                    {% if perms.sacco.change_customer %}
                        <td>
                            <a class="btn btn-secondary btn-sm"
                               href="{% url 'update_customer' customer.id %}">Update</a>
                        </td>
                    {% else %}
                       <td>
                           <button class="btn btn-sm disabled">Action</button>
                       </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <div class="row justify-content-center">
            <div class="col-sm-2">
                {% if data.has_previous %}
                    <a class="btn btn-outline-primary btn-sm" href="?page={{ data.previous_page_number }}"> << </a>
                {% endif %}
                <span class="mx-3">{{ data.number }}</span>
                {% if data.has_next %}
                    <a class="btn btn-outline-primary btn-sm" href="?page={{ data.next_page_number }}"> >> </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
