{% extends 'master.html' %}
{% load static %}

{% block title %}
    <title>Customers Details</title>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <table class="table table-striped">
                    <tr>
                        <td class="h6">First Name</td>
                        <td class="text-dark">{{ customer.first_name }}</td>
                    </tr>
                    <tr>
                        <td class="h6">Last Name</td>
                        <td>{{ customer.last_name }}</td>
                    </tr>
                    <tr>
                        <td class="h6">Email</td>
                        <td>{{ customer.email }}</td>
                    </tr>
                    <tr>
                        <td class="h6">Date Of Birth</td>
                        <td>{{ customer.dob | date:"d-M-Y" }}</td>
                    </tr>
                    <tr>
                        <td class="h6">Weight</td>
                        <td>{{ customer.weight }}</td>
                    </tr>
                </table>
            </div>
            
            <div class="col-sm-4">
                <img src="{% static 'profile.png' %}" alt="">
            </div>
            <div class="col-sm-4">
                <table class="table table-bordered">
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                    {% for depo in deposits %}
                        <tr>
                            <td>{{ depo.created_at | date:"d-M-Y" }}</td>
                            <td>{{ depo.amount }}</td>
                            <td>{{ depo.status }}</td>
                        </tr>
                    {% endfor %}
                    
                    
                </table>
            </div>
        </div>
    </div>
{% endblock %}