{% extends 'master.html' %}
{% load static %}

{% block title %}
    <title>Customers Details</title>
{% endblock %}


{% block content %}
    <div class="container my-4 border rounded p-3"> <!-- Added margin for spacing -->
        <div class="row gy-4"> <!-- Added vertical gap between rows -->
            <!-- Customer Details Section -->
            <div class="col-md-4">
                <table class="table table-striped">
                    <tr>
                        <td class="h6">First Name</td>
                        <td class="text-dark">{{ customer.first_name }}</td>
                    </tr>
                    <tr>
                        <td class="h6">Last Name</td>
                        <td>{{ customer.last_name }}</td>
                    </tr>
                    <tr>
                        <td class="h6">Email</td>
                        <td>{{ customer.email }}</td>
                    </tr>
                    <tr>
                        <td class="h6">Date Of Birth</td>
                        <td>{{ customer.dob | date:"d-M-Y" }}</td>
                    </tr>
                    <tr>
                        <td class="h6">Weight</td>
                        <td>{{ customer.weight }}</td>
                    </tr>
                    <tr>
                        <td class="h6">Total Deposits</td>
                        <td>{{ total }}</td>
                    </tr>
                </table>
            </div>

            <!-- Profile Picture Section -->
            <div class="col-md-4 text-center">
                <p class="fw-bold">Profile Picture</p>
                {% if customer.profile_pic %}
                    <img class="img-fluid mx-auto d-block rounded-circle profile" src="{{ customer.profile_pic.url }}" alt="Profile Picture">	
                {% else %}
                    <img class="img-fluid mx-auto d-block rounded-circle profile" src="{% static 'profile.png' %}" alt="Default Profile Picture">
                {% endif %}
            </div>

            <!-- Deposits Section -->
            <div class="col-md-4">
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for depo in deposits %}
                            <tr>
                                <td>{{ depo.created_at | date:"d-M-Y" }}</td>
                                <td>{{ depo.amount }}</td>
                                <td>{{ depo.status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
